body {
    font-family: sans-serif;
}

header {
    background-color: #371414;
    text-align: center;
}

footer {
    background-color: #371414;
}

.adress {
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
}

.catalog {
    text-align: center;
}
